#git clone
reactanddjango_goorm/

#front
front/node_modules/
front/public/
front/src/App.css
front/src/App.test.js
front/src/index.css
front/src/index.js
front/src/logo.svg
front/src/reportWebVitals.js
front/src/setupTests.js

README.md
package.json
yarn-error.log
yarn.lock

#sdf
sdf/venv/
sdf/run/
sdf/log/
sdf/app/__pycache__/
sdf/app/migrations/__init__.py
sdf/app/migrations/admin.py
sdf/sdf/__init__.py
sdf/sdf/__pycache__/


#main
.flowconfig